div {
    color: white;
    width: 300px;
    height: 300px;
}

div:nth-child(odd) {
    background-color: #0000FF;
}

div:nth-child(even) {
    background-color: rgba(255, 0, 0, 0.7);
}

div.small-div {
    height: 200px;
    width: 200px;
}

#big-div {
    height: 400px;
    width: 400px;
}

div.hover-div:hover {
    background-color: orange;
}