.container {
    display: block;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 20px;
    background-color: lightblue;
}

.inline-block-div {
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    background-color: blue;
    color: white;
}

span {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
    color: green;
}

.block-div {
    display: block;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    background-color: blue;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}