* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mydiv {
    width: 200px;
    height: 200px;
    background-image: url('/web/assets/images/特殊符号.png'),
        url('/web/assets/images/语义标签.gif');
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: 50% 100%, 50% 100%;
    background-position: left top, 100px, top;
}