* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div-input {
    margin: 0 auto;
    width: 50vw;
    height: 50vh;
    background-color: lightblue;
}


.input {
    width: 75%;
    min-height: 100px;
    resize: none;
    font-size: 24px;
    margin: 5px;
    border: solid 2px black;
}

#anniu {
    width: 100px;
    margin: 5px
}

.output {
    width: 75%;
    height: 200px;
    background-color: lightgray;
    font-size: 24px;
    margin: 5px;
    border: solid 2px black;
}

label {
    margin: 5px;
}