* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.div_outer {
    width: 300px;
    height: 300px;
    background-color: lightblue;
}

.div_inner {
    width: 50px;
    height: 50px;
    background-color: brown;
    margin: 100px;
}